html {
  background-color: #808080;
}

#title {
  color: white;
}

#instructions {
  color: white;
  font-style: italic;
}

#form {
  background-color: #c0c0c0;
}

#success {
  display:none;
  text-align: center;
  color: #00ff00;
}
